h1,
h2 {
  text-align: center;
  padding-top: 30px;
}

/* agnostic framework */

.cx-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-bottom: 1px solid #dee2e6;
}
.cx-table td,
.cx-table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.cx-table th {
  background-color: lightgoldenrodyellow;
}

.cx-table thead th {
  border-bottom: 0;
  border-top: none;
  font-size: 0.875rem;
  font-weight: "semi";
  text-transform: uppercase;
  color: #747881;
  text-align: center;
}
.cx-table td {
  vertical-align: middle;
}

.cx-table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

/* --- */

.cx-table .a11y-img {
  width: 16%;
}

.cx-table .a11y-price {
  text-align: right;
  width: 16%;
}

.cx-table .a11y-total {
  text-align: right;
}

.cx-visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  overflow: hidden;
  width: 0;
}

.cx-table .cx-actions td {
  border: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.cx-table thead th:first-of-type {
  text-align: left;
}

/* patches for minified version */

cx-configurator-issues-notification:not(:empty) {
  display: none;
}

/* responsive table */

@media (max-width: 767px) {
  .cx-table td:before {
    content: attr(data-th);
    color: red;
    font-weight: bold;
    width: 6.5em;
    font-size: 0.875rem;
  }

  .cx-table thead {
    display: none;
  }
  .cx-table td,
  .cx-table th {
    display: flex;
    border-top: 0 none;
    padding: 0.25em;
    align-items: center;
  }

  .cx-table .a11y-desc,
  .cx-table .a11y-price,
  .cx-table .a11y-qty,
  .cx-table .a11y-total {
    /* remove these important later */
    text-align: left !important;
    width: 100% !important;
  }

  .cx-table .a11y-img {
    flex-direction: row;
  }

  .cx-table .cx-remove-btn {
    justify-content: flex-end;
  }
}
